
<% if @team.errors.any? %>


<ul>
	<% @team.errors.full_messages.each do |msg| %>

	<li><%= msg %></li>

	<% end %>
</ul>


<% end %>
<div class="row">
  <div class="col-xs-5 col-md-offset-4" >

<%= form_for @team, :html => {:multipart => true} do |f| %>

  <p>
    <% @team.id %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    <%= f.label :Manager %>
    <%= f.text_field :coach %><br><br>
    <%= f.collection_select :league_id, League.all, :id, :name %>
    <%= f.file_field :avatar %>
  </p>

 	<p>

 	</p>

  <button type="submit" class="btn btn-info" >Create</button>
<% end %>

</div>
</div>

<%= link_to "Back to Team listing", teams_path , class: "btn btn-primary" %>