<h1> Listing Teams</h1>
<%= link_to "Create new team", new_team_path %>


<table>
	
<tr>
	
<th>Name</th>
<th>League</th>
</tr>


<% @teams.each do |team| %>

<tr>

	<td><%= team.name %> </td>
	<td><%= team.league.name %> </td>
	<td><%= link_to "Edit", edit_team_path(team) %></td>
	<td><%= link_to "Show", team_path(team) %></td>
	<td><%= link_to "Delete", team_path(team), method: :delete, data:{confirm: "Are you sure?"} %></td>
	

</tr>
<% end %>


</table>

<br><br>
<%= link_to "Back to League listing", leagues_path %>