<h1>Showing </h1>

<p>
	Name: <%= @team.name %><br>
	Manager: <%= @team.coach %><br>

  History:
  <table class="table table-bordered">
    <tr class="tab">
        <th>Home</th>
        <th>Score</th>
        <th>Away</th>
        <th>Date</th>
    </tr>
        
       <% Match.where(home: @team).each do |match| %>
    <tr>
       <td><%= match.home.name %></td>
       <td><%= match.hscore %> - <%= match.ascore %></td>
       <td><%= match.away.name %></td>
       <td><%= match.date %></td>
    </tr>
      <% end %>
  </table>
    <% Match.where(home: @team).each do |f| %>
    <%= f.date %>
    <% end %>
      <table class="table table-bordered">
    <tr class="tab">
        <th>Home</th>
        <th>Score</th>
        <th>Away</th> 
    </tr>
    <% @record.each do |record| %>
    <tr>
      <td><%= record.home %></td>
      <td><%= record.hscore %> - <%= record.ascore %></td>
      <td><%= record.away %></td>
    </tr>
    <% end %>
      </table>
</p>
<%= link_to "Edit this team" , edit_team_path(@team) %> |
<%= link_to "Back to teams listing", teams_path %> |
<%= link_to "Back to main page", darkside_path %>