

<p>
  <%= image_tag(@team.avatar.thumb.url ,size: "150x150") if @team.avatar? %><br>
	Name: <%= @team.name %><br>
	Manager: <%= @team.coach %><br>
 <%= render "table" %>
      <table class="table table-bordered">
    <tr class="tab">
        <th>Home</th>
        <th>Score</th>
        <th>Away</th> 
    </tr>


  
  
    <% @record.each do |record| %>
    <tr>

      <td><%= record.hteam.name %></td>
      <td><%= record.hscore %> - <%= record.ascore %></td>
      <td><%= record.ateam.name %></td>
    </tr>
    <% end %>
      </table>
</p>
<%= link_to "Edit this team" , edit_team_path(@team) %> |
<%= link_to "Back to teams listing", teams_path %> |
<%= link_to "Back to main page", darkside_path %>