<head>
<h1><%= @team.name.upcase %></h1>
</head>
<p>
  <%= image_tag(@team.avatar.thumb.url ,size: "150x150") if @team.avatar? %><br>



<div class="row">
<div class="col-md-6" >
    <table class="table table-bordered">
    <th class="red" colspan="3">Home</th>
    <% @recordh.each do |record| %>
    <tr>

      <td><%= link_to record.hteam.name, '#' %></td>
      <td><%= record.hscore %> - <%= record.ascore %></td>
      <td><%= link_to record.ateam.name, team_path(record.ateam) %></td>
    </tr>
    <% end %>
      </table></div>
      <div class="col-md-6">
      <table class="table table-bordered">
      
    <th class="red" colspan="3">Away</th>
    <% @recorda.each do |record| %>
    <tr>

      <td><%= link_to record.hteam.name, team_path(record.hteam) %></td>
      <td><%= record.hscore %> - <%= record.ascore %></td>
      <td><%= link_to record.ateam.name, "#" %></td>
    </tr>
    <% end %>
      </table>
      </div>
  </div>
 
  <div class="col-md-8 col-md-offset-2">
    <%= render "table" %>
  </div>
</p>
