<header>
<div class="center headimage">


<h1>Welcome to the darkside</h1>

</div>

</header> 


<div class="row">
  <div class="col-md-5 col-md-offset-3">
 

 <% League.all.each do |league| %>
 <table class="table table-bordered" >
  <tr class="tab">
  <th colspan="3"><%= league.name %></th>
  <th>Ratio</th>  
  </tr>
  <tr>
    <% @matches.each do |match| %>
    <% if match.home.league_id == league.id %>
    <td><%= link_to match.home.name, team_path(match.home.id) %> <%= image_tag(match.home.avatar.thumb.url ,size: "25x25") if match.home.avatar? %></td>
    <% arr = calper(match.home.id,match.away.id)%>
    <td class='tab2'><%= link_to '%.02f%' % arr , match_path(match) %></td>
    <td><%= link_to match.away.name, team_path(match.away.id) %> <%= image_tag(match.away.avatar.thumb.url ,size: "25x25") if match.away.avatar? %></td>
    <td><%= match.ratio %></td>
    <% end %>
     </tr>
    <% end %>
  </tr>
 </table>
 <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-7 col-md-offset-2">
 <table class="table table-bordered" >
  <tr class="tab3">
  <th colspan="2">Article</th>  

  </tr>
  <tr>
    <% Article.all.each do |article| %>
     <td><%= link_to article.title, article_path(article) %></td>
    <td><%= link_to article.user.username, user_path(article.user) %></td>
     </tr>
   <% end %>
  </tr>
 </table>

</div>
</div>



















<!-- 
<div class="row">
  <div class="col-md-11"></div>
  <div class="col-md-1">

  <table class="table table-bordered" align="right">

        <tr class="tab ">
          <th>Position</th>
          <th>Club</th>
          <th>Played</th>
          <th>Won</th>
          <th>Drawn</th>
          <th>Lost</th>
          <th>GF</th>
          <th>GA</th>
          <th>GD</th>
          <th>Points</th>
        </tr>
        <% @teams.each_with_index do |team, index| %> 
          
          <% if index<4 %>
          <tr class="info" >
          <% elsif index<17 %>
          <tr>
            <% else %>
          <tr class="danger">
          <% end %>

            <td><%= index + 1 %></td>
            <td><%= link_to team.name, team_path(team) %></td>
            <td><%= Match.where(home_id: team.id).count + Match.where(away_id: team.id).count %></td>
            <td><%= Scoretable.where(team_id: team.id).sum(:won) %></td>
            <td><%= Scoretable.where(team_id: team.id).sum(:drawn) %></td>
            <td><%= Scoretable.where(team_id: team.id).sum(:lost) %></td>
            <td><%= Scoretable.where(team_id: team.id).sum(:gf) %></td>
            <td><%= Scoretable.where(team_id: team.id).sum(:ga) %></td>
            <td><%= Scoretable.where(team_id: team.id).sum(:gd) %></td>
            <td><%= Scoretable.where(team_id: team.id).sum(:point) %></td>
          </tr>
          
        <% end %>
  </table>

</div>
</div>
 -->

 