
<% if @match.errors.any? %>


<ul>
	<% @match.errors.full_messages.each do |msg| %>

	<li><%= msg %></li>

	<% end %>
</ul>


<% end %>


<div class="row">

	<div class="col-md-4 col-md-offset-4">



<%= form_for @match do |f| %>

 	<p>
 	  
 
 
 		<%= f.label :hscore %>
 		<%= f.text_field :hscore %>
 		<%= f.grouped_collection_select(:home_id, League.order(:name),:teams,:name,  :id, :name) %><br>
 		

 		<%= f.label :ascore %>
 		<%= f.text_field :ascore %>
 		<%= f.grouped_collection_select(:away_id, League.order(:name),:teams,:name, :id, :name) %><br>
    <%= f.label :ratio %>
    <%= f.text_field :ratio %>
 		<br>

<div class="row">
  <div class="col-xs-5 col-md-offset-4" >
		<div class="form-group">
	        <div class='input-group date' id='datetimepicker1'>
	            <input type='text' class="form-control" name="match[date]" />
	            <span class="input-group-addon">
	                <span class="glyphicon glyphicon-calendar"></span>
	            </span>
	        </div>
	    </div>		 		
 		 <% # ender "matches/datepicker" %>
 		</div>
 		</div>
 	</p>

 	<p>

 	<button type="submit" class="btn btn-info" >Create</button>



 	</p>


<% end %>
</div>
</div>

<%= link_to "Back to Match listing", matches_path , class: "btn btn-primary" %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
          format:{
            


            
          }
    });
</script>