<h1> Listing All Match </h1>
<%= link_to "Create new match", new_match_path %>


<table>
	
<tr>
	
<th>Home</th>
<th>Score</th>
<th>Away</th>
<th>Date</th>
</tr>


<% @matches.each do |match| %>

<tr>

	<td><%= match.home.team.name %> </td>

	<td><%= match.hscore %> - <%= match.ascore %> </td>


	<td><%= match.away.team.name %> </td>
	<td><%= match.date %> </td>
	<td><%= link_to "Edit", edit_match_path(match) %></td>
	<td><%= link_to "Show", match_path(match) %></td>
	<td><%= link_to "Delete", match_path(match), method: :delete, data:{confirm: "Are you sure?"} %></td>

</tr>
<% end %>


</table>

<%= link_to "Back to Team listing", teams_path %>|
<%= link_to "Back to Home listing", homes_path %>