<h1>Showing </h1>

<p>
 <%= @match.home.team.name %> 
	<%= @match.hscore %> - <%= @match.ascore %> 
<%= @match.away.team.name %> <br>

Stadium: <%= link_to @match.home.stadium, home_path(@match) %>

</p>


<%= link_to "Edit this match" , edit_match_path(@match) %> |
<%= link_to "Back to match listing", matches_path %> |
<%= link_to "Back to main page", darkside_path %>