
<h1> Listing All Squad </h1>
<%= link_to "Create new Squad", new_squad_path %>


<table>
  
<tr>
  
<th>Name</th>

</tr>


<% @squads.each do |squad| %>

<tr>

  <td><%= squad.name %> </td>
  <td><%= link_to "Edit", edit_squad_path(squad) %></td>
  <td><%= link_to "Show", squad_path(squad) %></td>
  <td><%= link_to "Delete", squad_path(squad), method: :delete, data:{confirm: "Are you sure?"} %></td>

</tr>
<% end %>


</table>

<%= link_to "Back to Team listing", teams_path %>
<%= link_to "Back to Home listing", homes_path %>